/******************************************/
/*********** Universal settings ***********/
/******************************************/

/* Defining all colours used, and assigning names */
:root {
    --primary-green: #3D483D;
    --medium-green: #4D5B4D;
    --accent-green: #DEE3DE;
    --light-green: #EBEFEB;
    --text-input: #F1F4F1;
    --white: #ffffff;
    --nav-inactive: rgba(255, 255, 255, 0.65)
}

/* Defining fonts to refer to in code */
.font--cabin {
    font-family: 'Cabin', sans-serif;
}

.font--dm {
    font-family: 'DM Sans', sans-serif;
}

.roster-summary .card {
    background-color: var(--accent-green)
}

.contact-form,
.contact-card,
.booking-date-time .card,
.booking-summary .card{
    background-color: var(--accent-green);
}

/*Setting backgroun colour for the navbar*/
.navbar {
    background-color: var(--primary-green);
}

.navbar-brand {
    font-size: 26px;
}

/* Overriding bootstrap inactive navbar link colour to improve accessibility and colour contrast */
.navbar-nav .nav-link {
    color: var(--nav-inactive);
}

/* Overriding bootstrap navbar hover to improve accessibility and colour contrast */
.navbar-nav .nav-link:hover {
    color: var(--white);
}

/* Overriding bootstrap active to improve accessibility and colour contrast */
.navbar-nav .nav-link.active {
    color: var(--white);
    font-weight: 700;
}

/******************************************/
/***************** BUTTON *****************/
/******************************************/


.btn {
    background-color: var(--white);
    color: var(--primary-green);
    border: 2px solid var(--primary-green);
    border-radius: 6px;
    font-weight: 800;
    padding: 14px;
    font-size: 18px;
    line-height: 1;
    text-wrap: nowrap;
    transition: all 0.3s ease; 
}

.btn--wide {
    width: 260px;
}

.btn:hover {
    background-color: var(--medium-green);
    color: var(--white);
    border-color: var(--white);
    transform: translateY(-3px); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12);
}
.input-group .btn:hover,
.input-group .btn:focus-visible {
    transform: none;
    box-shadow: none;
}

.btn:focus-visible,
.btn-check:focus-visible + .btn {
    background-color: var(--accent-green);
    color: var(--primary-green);
    border-color: var(--primary-green); 

}

.btn.btn--white {
    border-color: var(--white);
}

.btn.btn--select:hover {
    background-color: var(--accent-green);
    border-color: var(--primary-green);
    color: var(--primary-green);
}


.btn-check:checked + .btn.btn--select {
    background-color: var(--primary-green);
    border-color: var(--primary-green);
    color: var(--white);
}


.btn-check:checked + .btn.btn--select:hover {
    background-color: var(--primary-green);
    border-color: var(--primary-green);
    color: var(--white);
    cursor: default;
}
/******************************************/
/************ SECTION SETTINGS ************/
/******************************************/

/* Defining default font colour and background colour for each section */

/* Setting the background colour and default font colour for index-intro */
.index-intro,
.services-intro {
    background: linear-gradient(to bottom,
            var(--primary-green) 0%,
            var(--medium-green) 50%);
    color: var(--white);
}

/* Setting background colour and font colour for index-section section */
.index-second,
.index-mobile-contact,
.services-features-section,
.gallery-page,
.contact-page,
.booking-featured-services,
.booking-all-services,
.booking-date-time,
.booking-customer-information,
.booking-pet-information,
.booking-summary {
    background-color: var(--light-green);
    color: var(--primary-green)
}

.roster-summary,
.roster-schedule{
    background-color: var(--light-green);
    color: var(--primary-green);
}



/* Setting background colour and font colour for index-third section */
.index-third {
    background-color: var(--accent-green);
    color: var(--primary-green)
}

/* Setting background colour and font colour for footer */
.footer {
    background-color: var(--primary-green);
    color: var(--white);
}

/* Setting up the background colour and default font colour for the contact section that shows on mobile */



/******************************************/
/************** CARD SETTINGS *************/
/******************************************/

/* Setting up defaults for cards, and adding custom CSS to enable the ability to scroll through cards, as this is not a default bootstrap functionality */

/* Defining font colour to be used on all cards */
.card {
    color: var(--primary-green);
}





.external-link {
    color: var(--white);
    text-decoration: none;
}

.external-link:hover,
.external-link--green:hover {
    text-decoration: underline;
    font-weight: 700;
}

.external-link--green {
    color: var(--primary-green);
    text-decoration: none;
}



/* FORM  */
.search-field {
    max-width: 1000px;
}
.roster-table td,
.roster-table th{
    background-color: var(--text-input);
    
color: var(--primary-green);
}


.leave-table td,
.leave-table th{
    background-color: var(--accent);
    color: var(--primary-green);
}

textarea {
    resize: none;
}



/* Adding a border to the button to separate from the search field */
.input-group .btn {
    border-left: 1px solid #4D5B4D;
}

/* Miscellaneous */

.section-divider {
    height: 3px;
    background-color: var(--primary-green);
    border: none;
    opacity: 1;
}

/* --- Universal Scrollable Card Wrapper --- */

.item-scroll-wrapper {
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
}



.item-scroll-wrapper .card {
    max-width: 390px;
    flex: 0 0 auto;
    scroll-snap-align: center;
}



/* Standardized Image Proportions for the images in the features section*/
.item-scroll-wrapper .card-img-top {
    width: 100%;
    height: 250px;
    object-fit: cover;
}



.testimonial-img {
    user-select: none;
    -webkit-user-drag: none;
}

.carousel-control-prev,
.carousel-control-next {
    width: 45px;
    height: 45px;
    background-color: var(--primary-green);
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}




.carousel-item img {
    width: 100%;
    height: calc(100% - 90px);
    object-fit: contain;

}

.carousel-caption {
    position: static;
    color: var(--primary-green)
}

.carousel-indicators.gallery-thumbnails {
    position: static;
    overflow-x: scroll;
}

.carousel-indicators.gallery-thumbnails>button {
    flex: 0 0 auto;
    width: 80px;
    height: 80px;
}

.carousel-indicators.gallery-thumbnails>button img {
    display: block;
    border-radius: 6px;
}

.carousel-inner,
.gallery-filter {
    max-width: 900px;
}

.gallery-image-caption-1 {
    font-size: 20px;
    font-weight: bold;
}

.table-responsive-table {
    table-layout: fixed;
    width: 100%;
    border-collapse: separate;
    border-spacing: 40px 0;
}

.table-responsive-table td {
    vertical-align: top;
}





/* Centering logic for wide screens */
@media (min-width: 1250px) {
    .item-scroll-wrapper {
        justify-content: center;
    }



}

@media (max-width: 992px) {


    .table-responsive-table tbody,
    .table-responsive-table {
        display: block;
        width: 100%;
    }

    .table-responsive-row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 28px 40px;
    }

    .table-responsive-table td {
        display: block;
    }

    .table-responsive-table td::before {
        content: attr(data-label);
        display: block;
        font-size: 28px;
        font-weight: 800;
        margin-bottom: 16px;
    }
   .booking-summary thead{
    display: none;
   }
}


@media (max-width: 767px) {
    .gallery-image-caption-1 {
        font-size: 16px;
        font-weight: normal;
    }

    .carousel-item img {
        height: calc(100% - 40px);
    }

    .table-responsive-row {
        grid-template-columns: 1fr;
        gap: 22px;
    }


}

@media (max-width: 576px) {

    .navbar-brand {
        font-size: 18px;
    }

    /* Make the item footer content stack on top of eachother, instead of on the same line */


    /* Make the button fill 100% of the width of the container when stacked */


}