/******************************************/
/*********** Universal settings ***********/
/******************************************/

/* Defining all colours used, and assigning names */
:root {
    --primary-green: #3D483D;
    --medium-green: #4D5B4D;
    --muted-green: #6F7F6F;
    --accent-green: #DEE3DE;
    --light-green: #EBEFEB;
    --text-input: #F1F4F1;
    --white: #ffffff;
    --nav-inactive: rgba(255, 255, 255, 0.65)
}

/* Defining fonts to refer to in code */
.font--cabin {
    font-family: 'Cabin', sans-serif;
}

.font--dm {
    font-family: 'DM Sans', sans-serif;
}


.contact-form,
.contact-card {
    background-color: var(--accent-green);
}

/*Setting backgroun colour for the navbar*/
.navbar {
    background-color: var(--primary-green);
}

.navbar-brand {
    font-size: 26px;
}

/* Overriding bootstrap inactive navbar link colour to improve accessibility and colour contrast */
.navbar-nav .nav-link {
    color: var(--nav-inactive);
}

/* Overriding bootstrap navbar hover to improve accessibility and colour contrast */
.navbar-nav .nav-link:hover {
    color: var(--white);
}

/* Overriding bootstrap active to improve accessibility and colour contrast */
.navbar-nav .nav-link.active {
    color: var(--white);
    font-weight: 700;
}

/******************************************/
/***************** BUTTON *****************/
/******************************************/

/* Overriding bootstrap default btn properties to ensure consistent use of buttons across the site */
.btn {
    background: var(--white);
    color: var(--primary-green);
    border-radius: 6px;
    font-weight: 800;
    padding: 10px 12px;
    border: 2px solid var(--medium-green);
    font-size: 18px;
}

/* Setting a large width for buttons that have a fixed width */
.btn--wide {
    width: 260px;
}

/* Setting border to white for buttons that go on a greenbackground */
.btn--white {
    border-color: var(--white);
}

/* Adding the hover propertied for the btn, changing border, text and background colours */
.btn:hover,
.btn:focus {
    background: var(--medium-green);
    color: var(--white);
    border-color: var(--white);
}

.btn--card {
    border-color: var(--primary-green);
    transition: all 0.3s ease;
}

.btn--card:hover {
    background: var(--primary-green);
    color: var(--white);
    border-color: var(--primary-green);
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12);
    transition: all 0.3s ease;
    cursor: pointer;
}

/******************************************/
/************ SECTION SETTINGS ************/
/******************************************/

/* Defining default font colour and background colour for each section */

/* Setting the background colour and default font colour for index-intro */
.index-intro,
.services-intro {
    background: linear-gradient(to bottom,
            var(--primary-green) 0%,
            var(--medium-green) 50%);
    color: var(--white);
}

/* Setting background colour and font colour for index-section section */
.index-second,
.services-features-section,
.contact-page {
    background-color: var(--light-green);
    color: var(--primary-green)
}

/* Setting background colour and font colour for index-third section */
.index-third {
    background-color: var(--accent-green);
    color: var(--primary-green)
}

/* Setting background colour and font colour for footer */
.footer {
    background-color: var(--primary-green);
    color: var(--white);
}

/* Setting up the background colour and default font colour for the contact section that shows on mobile */
.index-mobile-contact {
    background-color: var(--light-green);
    color: var(--primary-green);
}


/******************************************/
/************** CARD SETTINGS *************/
/******************************************/

/* Setting up defaults for cards, and adding custom CSS to enable the ability to scroll through cards, as this is not a default bootstrap functionality */

/* Defining font colour to be used on all cards */
.card {
    color: var(--medium-green);
}

/* Setting the footer for the cards that include both pricing and a button. This ensures that the price will sit on the left, and button on the right. Flex wrap allows the button to drop  */
.item-footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.75rem;
}





.external-link {
    color: var(--white);
    text-decoration: none;
}

.external-link:hover,
.external-link--green:hover {
    text-decoration: underline;
    font-weight: 700;
}

.external-link--green {
    color: var(--primary-green);
    text-decoration: none;
}



/* FORM  */
.search-field {
    max-width: 1000px;
}

.form-field-label {
    padding-left: 6px;
}

.select.form-select,
input.form-control {
    height: 50px;
}


/*  */
.form-control,
.form-select,
.form-control::placeholder {
    font-size: 17px;
}



/* Adding a border to the button to separate from the search field */
.input-group .btn {
    border-left: 1px solid #4D5B4D;
}

/* Miscellaneous */

.section-divider {
    height: 3px;
    background-color: var(--primary-green);
    border: none;
    opacity: 1;
}

/* --- Universal Scrollable Card Wrapper --- */

.item-scroll-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
}

/* Hide scrollbars for a cleaner UI */
.item-scroll-wrapper::-webkit-scrollbar {
    display: none;
}

.item-scroll-wrapper .card {
    width: 100%;
    max-width: 390px;
    flex: 0 0 auto;
    scroll-snap-align: center;
    display: flex;
    border: none;
    background-color: var(--white);
}

/* Standardized Image Proportions for the images in the features section*/
.item-scroll-wrapper .card-img-top {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.service-card-grid .card {
    min-height: 275px;
}

.item-footer-content .btn {
    white-space: nowrap;
    flex-shrink: 0;
}

.testimonial-img {
    user-select: none;
    -webkit-user-drag: none;
}

.carousel-control-prev,
.carousel-control-next {
    width: 45px;
    height: 45px;
    background-color: var(--primary-green);
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

.card-hover:hover {
    transform: translateY(-5px);
    /* Moves card up */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12);
    /* Adds shadow */
    transition: all 0.3s ease;
    /* Smooth animation */
    cursor: pointer;
}

.card-hover {
    transition: all 0.3s ease;
    /* Smooth transition back */
}

.carousel-indicators button.gallery-thumbnail {
    width: 80px;
}

.carousel-indicators button.gallery-thumbnail:not(.active) {
    opacity: 0.5;
}



.carousel-item img {
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.carousel-caption {
    position: static;
    color: var(--primary-green)
}

.carousel-indicators.gallery-thumbnails {
    position: static;
    overflow-x: scroll;



}

.carousel-indicators.gallery-thumbnails>button {
    flex: 0 0 auto;
    width: 80px;
    /* match your thumbnail width */
    height: 80px;
}

.carousel-indicators.gallery-thumbnails>button img {
    display: block;
    border-radius: 6px;

}

.carousel-inner {
    max-width: 900px;
    border-radius: 6px;
}

.carousel-item {
    height: clamp(300px, 50vw, 600px); /* responsive height */
    background: var(--accent-green);
  }

/* Centering logic for wide screens */
@media (min-width: 991px) {
    .item-scroll-wrapper {
        justify-content: center;
    }
}

@media (max-width: 992px) {

}

@media (max-width: 768px) {

}





@media (max-width: 576px) {

    /* Make the item footer content stack on top of eachother, instead of on the same line */
    .item-footer-content {
        display: block;
    }

    /* Make the button fill 100% of the width of the container when stacked */
    .item-footer-content .btn {
        display: block;
        width: 100%;
        margin-top: 10px;
    }

    .navbar-brand {
        font-size: 17px;
    }
}